[submodule "src/server-capstone-project"]
	path = src/server-capstone-project
	url = https://github.com/fabcontigiani/server-capstone-project.git
[submodule "src/wildlife-detection-capstone-project"]
	path = src/wildlife-detection-capstone-project
	url = https://github.com/fabcontigiani/wildlife-detection-capstone-project.git
[submodule "trapcam_mesh"]
	path = trapcam_mesh
	url = https://github.com/gabyds01/trapcam_mesh.git
